<!-- <h1>Headline 1. Used for titles</h1>
<app-button text="Change picture" [icon]="Icon.Change"></app-button>
<br />
<app-button [enhanced]="true" text="Add new" [icon]="Icon.Add"></app-button>
<br />
<app-list-menu
  [listMenuItems]="[
    { text: 'Asd', icon: Icon.Delete, callBack: doSomething },
    { text: 'Asd', icon: Icon.Change, callBack: doSomething },
    { text: 'Asd', icon: Icon.Delete, callBack: doSomething },
    { text: 'Asd', icon: Icon.LightMode, callBack: doSomething }
  ]"
></app-list-menu>
<br />

<app-button text="asd"></app-button>
<br />
<app-button [icon]="Icon.Add"></app-button>
<br />
<app-button [secondary]="true" [icon]="Icon.Add"></app-button>
<br />
<app-text-field></app-text-field>
<br />
 -->

<main class="mainContainer">
  <section class="sideCol leftCol">
    <app-button [icon]="Icon.BackArrow" [secondary]="true"></app-button>
  </section>
  <section class="mainCol">
    <header>
      <h1>Contacts</h1>
      <div class="buttons">
        <div class="secondaryButtons">
          <app-button [icon]="Icon.Settings" [secondary]="true"></app-button>
          <app-button [icon]="Icon.Call" [secondary]="true"></app-button>
        </div>
        <app-button
          [enhanced]="true"
          text="Add new"
          [icon]="Icon.Add"
          (click)="this.setShowAddContactModal(true)"
        ></app-button>
        <app-add-contact
          [visible]="this.getShowAddContactModal()"
          (hide)="this.setShowAddContactModal(false)"
          (contact)="this.addContact($event)"
        ></app-add-contact>
      </div>
    </header>
    <app-contact
      *ngFor="let contact of contacts"
      name="{{ contact.name }}"
      phone="{{ contact.phone }}"
      [profilePicture]="contact.image"
      (removeContact)="this.contacts.splice(contacts.indexOf(contact), 1)"
    ></app-contact>
  </section>
  <section class="sideCol rightCol">
    <app-button [icon]="Icon.LightMode" [secondary]="true"></app-button>
  </section>
</main>
