<!-- <h1>Headline 1. Used for titles</h1>
<app-button text="Change picture" [icon]="Icon.Change"></app-button>
<br />
<app-button [enhanced]="true" text="Add new" [icon]="Icon.Add"></app-button>
<br />
<app-list-menu
  [listMenuItems]="[
    { text: 'Asd', icon: Icon.Delete, callBack: doSomething },
    { text: 'Asd', icon: Icon.Change, callBack: doSomething },
    { text: 'Asd', icon: Icon.Delete, callBack: doSomething },
    { text: 'Asd', icon: Icon.LightMode, callBack: doSomething }
  ]"
></app-list-menu>
<br />

<app-button text="asd"></app-button>
<br />
<app-button [icon]="Icon.Add"></app-button>
<br />
<app-button [secondary]="true" [icon]="Icon.Add"></app-button>
<br />
<app-text-field></app-text-field>
<br />
 -->
<header>
  <div class="respRow">
    <section class="sideCol leftCol">
      <app-button [icon]="Icon.BackArrow" [secondary]="true"></app-button>
    </section>
    <div class="headerMain headerMainLeft">
      <h1>Contacts</h1>
      <div class="secondaryButtons">
        <app-button [icon]="Icon.Settings" [secondary]="true"></app-button>
        <img
          class="loggedInProfilePic"
          src="../assets/images/Timothy.png"
          alt="Logged in user"
        />
      </div>
    </div>
  </div>
  <div class="respRow">
    <div class="headerMain headerMainRight">
      <app-button
        [enhanced]="true"
        text="Add new"
        [icon]="Icon.Add"
        (click)="this.setShowAddContactModal(true)"
      ></app-button>
      <app-add-contact
        [visible]="this.getShowAddContactModal()"
        [contactToEdit]="this.contactToEdit"
        (hide)="this.setShowAddContactModal(false)"
        (contact)="this.addContact($event)"
      ></app-add-contact>
    </div>
    <section class="sideCol rightCol">
      <app-button [icon]="Icon.LightMode" [secondary]="true"></app-button>
    </section>
  </div>
</header>
<main class="mainContainer">
  <section class="mainCol">
    <app-contact
      *ngFor="let contact of contacts | keyvalue"
      name="{{ contact.value.name }}"
      phone="{{ contact.value.phone }}"
      [profilePicture]="contact.value.image"
      (removeContact)="this.removeContact(contact.value.id)"
      (editContact)="this.editContact(contact.value.id)"
    ></app-contact>
  </section>
</main>
