.text {
  color: var(--piros);
}
.mainContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 120px;
}
.sideCol {
  width: 25vw;
  height: 100px;
  flex-shrink: 2;
  flex-grow: 2;
  display: flex;
  align-items: center;
}
.leftCol {
  flex-direction: row-reverse;
  padding-right: 24px;
}
.rightCol {
  padding-left: 24px;
}
.mainCol {
  width: 50vw;
  height: 100px;
  min-width: min(400px, 100% - 80px);
  max-width: min(1000px);
  margin: 0px 24px;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.secondaryButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.loggedInProfilePic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid white;
}
@media only screen and (max-width: 1000px) {
  header {
    flex-direction: column;
  }
  .mainCol {
    margin: 0;
  }
  .leftCol {
    padding: 0;
  }
  .rightCol {
    padding: 0;
  }
}
