<section class="modalWindowContainer" *ngIf="visible" (click)="this.onCancel()">
  <div (click)="preventHide($event)" class="modalWindow">
    <div class="modalWindowForm">
      <h2>Add contact</h2>
      <div class="imageContainer">
        <img
          class="profileImg"
          src="{{
            this.contactToEdit.image
              ? this.contactToEdit.image
              : '../../../assets/images/default_profile.svg'
          }}"
          alt="Profile picture"
        />
        <input
          (change)="onImageChange($event)"
          hidden
          #fileInput
          type="file"
          accept="image/*"
        />
        <app-button
          *ngIf="!this.contactToEdit.image"
          [icon]="Icon.Add"
          text="Add picture"
          (click)="fileInput.click()"
        ></app-button>
        <div class="imageModBtns" *ngIf="this.contactToEdit.image">
          <app-button
            [icon]="Icon.Change"
            text="Change picture"
            (click)="fileInput.click()"
          ></app-button>
          <app-button
            [icon]="Icon.Delete"
            (click)="onRemoveImage()"
          ></app-button>
        </div>
      </div>
      <app-text-field
        [(value)]="this.contactToEdit.name"
        label="Name"
        placeholder="Jamie Wright"
      >
      </app-text-field>
      <app-text-field
        [(value)]="this.contactToEdit.phone"
        label="Phone number"
        placeholder="+01 234 5678"
      ></app-text-field>
      <app-text-field
        [(value)]="this.contactToEdit.email"
        label="Email address"
        placeholder="jamie.wright@mail.com"
      ></app-text-field>
    </div>
    <div class="actionBtns">
      <app-button text="Done" (click)="onDone()"></app-button>
      <app-button
        [secondary]="true"
        text="Cancel"
        (click)="this.onCancel()"
      ></app-button>
    </div>
  </div>
</section>
